.advertisement-card {
    display: flex;
    font-size: $font-size-xsmall;
    align-items: center;
    background-color: color-var(--global__colors__white);
    padding: var(--global__sizing__layout-spacing--half);
    &__content-container {
        margin-right: var(--global__sizing__layout-spacing--half);
        flex-basis: 60%;
        width: 60%;
        > * {
            margin-bottom: 0;
        }
        a,
        .heading > a {
            color: color-var(--global__colors__primary);
        }
    }
    &__image-container {
        flex-basis: 40%;
        width: 40%;
    }
}
