.beta-ribbon {
    position: absolute;
    top: 0;
    left: 0;

    .page-template-sign-in &,
    .page-template-register & {
        @include media-breakpoint-down(sm) {
            max-width: 50px;
        }
    }
}
