.comment-card {
    display: flex;
    flex-flow: row nowrap;
    .user-card {
        display: inline-block;
        margin-left: 0;
        margin-right: var(--global__sizing__layout-spacing--half);
        width: 35px;
        min-width: 35px;
        max-height: 35px;
        &__placeholder {
            height: 35px;
            padding: 2px;
        }
        &__placeholder-inner {
            padding: 0;
        }
    }
    &__content-container {
        font-size: $font-size-xsmall;
        padding-top: 5px;

        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);

            &:first-child,
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__heading-container {
        display: flex;
        align-items: center;
        > * {
            margin: 0;
        }
        > img {
            max-width: 10px;
            margin-left: var(--global__sizing__text-spacing--half);
        }
    }
}
