.content-slider {
    .owl-nav {
        display: flex;
        justify-content: center;
        > * {
            margin-left: var(--global__sizing__text-spacing--half);
            margin-right: var(--global__sizing__text-spacing--half);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        button.owl-prev,
        button.owl-next {
            color: color-var(--global__colors__gray-dark);

            svg {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
    .owl-stage-outer {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
    .owl-stage {
        align-items: unset;
    }
    .content-slide,
    .vc-content-slide,
    .vc-content-slide__inner {
        height: 100%;
    }
}
