%content-section,
.content-section {
    &--gray-light-tint {
        background-color: color-var(--global__colors__gray-light, .3);
    }
    &--white {
        background-color: color-var(--global__colors__white);
    }
    &--bordered {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    &--hero {
        margin-top: 0 !important;
        .container,
        .container-fluid {
            padding: 0;
        }
    }
    &--bordered-content {
        .content-column__inner {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
    &--extended {
        .content-section__container {
            max-width: 1400px;
        }
    }
    &--height-full {
        &:first-child {
            min-height: calc(100vh - (calc(var(--dynamic__header-height) * 2) + var(--dynamic__footer-height)));
        }
    }
}
