.content-row {
    &--bordered {
        .content-column__inner {
            border-bottom: 1px solid #ccc;
            padding-bottom: var(--global__sizing__layout-spacing--half);
        }
    }
    &--subscribers-grid {
        .content-column__inner {
            display: flex;
            flex-flow: column nowrap;

            .user-card {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }

            .subscribe-to-user {
                margin: 0 auto;
            }
        }
    }
}
