.copy-to-clipboard {
    display: flex;
    position: fixed;
    bottom: calc(var(--global__sizing__layout-spacing--default) * -5);
    left: var(--global__sizing__layout-spacing--default);
    padding: var(--global__sizing__text-spacing--half) var(--global__sizing__layout-spacing--default);
    background-color: color-var(--global__colors__primary);
    color: color-var(--global__colors__white);
    transition: bottom 0.15s ease-in-out;

    &--show {
        bottom: var(--global__sizing__layout-spacing--default);
    }
}
