.update-playlist-form,
.create-playlist-form {
    &__videos-container {
        margin-bottom: var(--global__sizing__layout-spacing--half);
        .update-playlist-form__label,
        .create-playlist-form__label {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            border-bottom: 1px solid #eee;
            padding: var(--global__sizing__text-spacing--half);

            &:first-child {
                border-top: 1px solid #eee;
            }
            > input {
                margin-right: var(--global__sizing__text-spacing--half);
            }
        }
    }
    &__videos {
        max-height: 100px;
        overflow-y: scroll;
    }
    &__remove-button[type="submit"] {
        border-color: color-var(--global__colors__secondary);
        background-color: color-var(--global__colors__secondary);
        color: color-var(--global__colors__white);

        &:hover {
            background-color: color-var(--global__colors__secondary);
            color: color-var(--global__colors__white);
        }
    }
}
