%dropdown-list,
.dropdown-list {
    @extend %list--unstyled;
    margin: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    position: absolute;
    right: 0;
    box-shadow: inset 0 0 2px 0 rgba(var(--global__colors__gray-light),1);
    padding: var(--global__sizing__text-spacing--default);
    background-color: color-var(--global__colors__white);

    &--show {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
}
