.edit-video-form {
    > *:last-child {
        margin-bottom: 0;
    }
    &__row {
        display: flex;
        margin-bottom: var(--global__sizing__layout-spacing--half);

        &:first-child {
            flex-flow: row nowrap;

            > * {
                margin-right: var(--global__sizing__text-spacing--half);
                margin-left: var(--global__sizing__text-spacing--half);

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &:not(:first-child) {
            flex-flow: column nowrap;
        }
    }
    &__column {
        width: 50%;
        flex-basis: 50%;
    }
    &__description {
        margin-bottom: var(--global__sizing__text-spacing--half);
    }
    &__preview-image-container {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__text-spacing--half);

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
        }
    }
    &__preview-image {
        display: none;
        transition: opacity 0.15s ease-in-out;
    }
    &__preview-image-button {
        margin-bottom: var(--global__sizing__layout-spacing--half);
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            flex-basis: calc(50% - var(--global__sizing__layout-spacing--half));
        }
    }
    &__preview-text {
        line-height: 1;
        margin-bottom: 0;
    }
    &__filename {
        margin: 0 0 0 var(--global__sizing__layout-spacing--half);
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        margin-right: var(--global__sizing__text-spacing--half);
        &:checked {
            background-color: color-var(--global__colors__secondary);
        }
    }
}
