.edit-profile-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    > * {
        display: flex;
        flex-basis: 100%;
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__layout-spacing--default);

        &:last-child {
            margin-bottom: 0;
        }

        &.field-50 {
            @include media-breakpoint-up(md) {
                padding: 0 var(--global__sizing__text-spacing--half);
                flex-basis: 50%;

                &:nth-child(odd) {
                    padding-left: 0;
                }

                &:nth-child(even) {
                    padding-right: 0;
                }
            }
        }
    }

    &__label {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
    }

    &__name small {
        font-style: italic;
        color: color-var(--global__colors__gray-dark);
    }

    &__hint {
        text-align: center;
    }

    &__checkboxes {
        padding-top: var(--global__sizing__text-spacing--half);
    }

    &__checkbox {
        margin-right: var(--global__sizing__text-spacing--half);
    }

    &__submit {
        display: block;
    }
}

//.range-slider {
//    width: 300px;
//    height: 20px;
//    position: relative;
//    cursor: e-resize;
//}
//
//.range-slider:before {
//    content: "";
//    display: block;
//    position: absolute;
//    top: 9px;
//    left: 0;
//    width: 100%;
//    height: 4px;
//    background-color: color-var(--global__colors__gray-dark);
//}
//
//.range-slider span {
//    display: block;
//    height: inherit;
//    position: relative;
//    z-index: 2;
//    background-color: color-var(--global__colors__primary);
//    cursor: inherit;
//}
//
///* Test result */
//.test-result {
//    //position:absolute;
//    //top:10px;
//    //right:10px;
//    line-height: 1;
//}
