.footer-nav {
    padding: var(--global__sizing__layout-spacing--default);

    &__list {
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 14px;
    }

    &__list-item-link {
        color: color-var(--global__colors__white);
    }

    &__list-item {
        margin-bottom: var(--global__sizing__text-spacing--half);
        &--anchor {
            .footer-nav__list-item-link {
                pointer-events: none;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

    &__sublist {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        list-style: none;

        > * {
            margin: 0 var(--global__sizing__text-spacing--half);

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__sublist-item-link {
        color: color-var(--global__colors__white);

        &:hover {
            color: color-var(--global__colors__primary);
        }
    }
}
