.header-nav {
    background-color: color-var(--global__colors__gray-darker);
    color: color-var(--global__colors__white);
    transition: background-color 0.25s ease-in-out;
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        padding-top: var(--global__sizing__text-spacing--half);
        padding-bottom: var(--global__sizing__text-spacing--half);
        > * {
            margin-bottom: 0;
        }
    }

    &__list {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 1;
        visibility: visible;
        transition: all 0.25s ease-in-out;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }

    &__list-item {
        position: relative;
        display: inline-block;
        .icon {
            cursor: pointer;
        }

        &:not(.header-nav__list-item--hamburger):not(.header-nav__list-item--logo):not(.header-nav__list-item--cta) {
            display: none;
            @include media-breakpoint-up(sm) {
                display: inline-block;
            }
        }

        &--hamburger {
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }
        &--cta {
            display: inline-flex;
            align-items: center;
            > * {
                margin: 0 var(--global__sizing__text-spacing--half);
                @include media-breakpoint-up(sm) {
                    margin: 0 var(--global__sizing__text-spacing--default);
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            .icon-use {
                color: color-var(--global__colors__white);
            }
            svg {
                //@include media-breakpoint-up(sm) {
                //    width: 1.5em;
                //    height: 1.5em;
                //}
            }
        }
        &--active {
            .header-nav__list-item-link {
                opacity: 0.5;
            }
        }
    }

    &__toggle {
        @extend %btn-reset;
        padding: var(--global__sizing__text-spacing--half);
        z-index: $nav-menu-overlay-z-index + 1;
        display: flex;
        align-items: center;
        transition: color $nav-menu-toggle-color-transition;
    }

    &__toggle-bar {
        margin: 4px 0;
        background-color: color-var(--global__colors__white);
        transition: background-color $nav-menu-toggle-color-transition;

        &,
        &:before,
        &:after {
            width: 35px;
            height: 3px;
            border-radius: 2px;
            transform: rotate(0deg);
            transition: transform 0.25s ease-in-out, background-color $nav-menu-toggle-color-transition ease-in-out;
        }

        &:before,
        &:after {
            background-color: inherit;
            content: '';
            position: absolute;
            display: block;
        }

        &:before {
            top: -8px;
        }

        &:after {
            top: 8px;
        }
    }

    &__user-profile {
        .user-card {
            width: 35px;
            height: 35px;
            cursor: pointer;
            &__placeholder {
                cursor: pointer;
                padding: 2px;
                height: 35px;
            }
            &__placeholder-inner {
                padding: 1px;
            }
            &__placeholder-title {
                display: none;
            }
        }
    }

    &__user-settings {
        background-color: #3A3A3A;
        white-space: nowrap;
    }

    &__list-item-link,
    &__mobile-menu-list-item-link {
        color: color-var(--global__colors__white);
        &:hover {
            text-decoration: none;
            color: color-var(--global__colors__primary);
        }
    }

    &__brand-image {
        max-width: 45px;
    }

    &__search-form {
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__mobile-menu {
        background-color: color-var(--global__colors__black);
        //padding: var(--global__sizing__layout-spacing--half);
        height: 0;
        //display: block;
        //position: absolute;
        //top: -9999px;
        //left: 0;
        //right: 0;
        //bottom: 9999px;
        transition: all 0.25s ease-in-out;
        visibility: hidden;
        opacity: 0;
        //height: 0;

        .search-form {
            position: relative;
            input[type="search"] {
                border-radius: 5px;
                border-bottom: 0;
                margin: 0;
                padding-left: var(--global__sizing__layout-spacing--default);
                background-color: color-var(--global__colors__gray-darker);
            }
            .icon {
                position: absolute;
                left: 7px;
                svg {
                    width: .9em;
                    height: .9em;
                }
            }
            &__close {
                display: none;
            }
        }
    }

    &__mobile-menu-list {
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        > * {
            //border-bottom: 1px solid #ccc;

            &:first-child {
                padding: var(--global__sizing__text-spacing--default) 0 var(--global__sizing__text-spacing--double);
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__mobile-menu-list-item {
        padding: var(--global__sizing__text-spacing--half);
        &--active {
            .header-nav__mobile-menu-list-item-link {
                opacity: 0.5;
            }
        }
    }

    &--search-open {
        background-color: color-var(--global__colors__black);
        .header-nav {
            &__list {
                opacity: 0;
                visibility: hidden;
            }
            &__search-form {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &--mobile-menu-open {
        background-color: color-var(--global__colors__black);
        .header-nav {
            &__mobile-menu {
                opacity: 1;
                visibility: visible;
                //top: 55px;
                //bottom: 0;
                //height: 100vh;
                height: 340px;
                z-index: 9999;
                padding: var(--global__sizing__layout-spacing--half);
                background-color: color-var(--global__colors__black);
            }
        }
    }
}
