%image-upload,
.image-upload {
    position: relative;
    &__edit-container {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__edit-button {
        border: 1px solid rgba(var(--global__colors__primary),1);
        color: rgba(var(--global__colors__primary), 1);
        background-color: color-var(--global__colors__white);
        &:hover {
            color: color-var(--global__colors__primary);
            background-color: color-var(--global__colors__white);
        }
    }
    &__reposition-button,
    &__remove-button {
        padding: 0 6px;
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    &__edit-list {
        min-width: 175px;
    }
    &__sublist {
        font-size: $font-size-xsmall;
        padding-bottom: var(--global__sizing__text-spacing--half);
        margin-bottom: var(--global__sizing__text-spacing--half);
        border-bottom: 1px solid color-var(--global__colors__gray-light, .5);
        > li {
            margin-bottom: var(--global__sizing__text-spacing--half);
        }
    }
    &__form {
        input {
            display: none;
        }
    }
}
