#landing-modal {
    padding: 0;
    .modal {
        &__container {
            background-image: url('../images/letter-gradient.jpg');
            max-width: unset;
        }
        &__content {
            max-width: unset;
            color: color-var(--global__colors__white);
        }
    }
    &.modal--box .heading {
        color: color-var(--global__colors__white);
    }
}
