#login-form {
    label {
        @extend %user-profile-form__label;
        justify-content: center;
        input {
            @extend %user-profile-form__checkbox;
        }
    }
    > p {
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
}
