.messaging {
    position: relative;
    border: 1px solid color-var(--global__colors__secondary);
    background-color: color-var(--global__colors__secondary, .15);
    color: color-var(--global__colors__gray-dark);
    padding: var(--global__sizing__layout-spacing--half);

    &__close {
        position: absolute;
        top: var(--global__sizing__text-spacing--half);
        right: var(--global__sizing__text-spacing--half);
        -webkit-appearance: none;
        border: 0;
        background-color: transparent;
    }
    &__section {
        display: none;

        &--show {
            display: block;
        }
    }
}
