%modal,
.modal {
    &--box {
        background: color-var(--global__colors__gray-darker, .85);
        .modal {
            &__container {
                border: 1px solid color-var(--global__colors__primary);
            }
        }
        .heading {
            color: color-var(--global__colors__primary);
            text-transform: uppercase;
        }
    }
}
