.monetization-banner {
    background-color: color-var(--global__colors__secondary, .25);
    padding: var(--global__sizing__layout-spacing--default);

    > * {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
