.news-post-card {
    a {
        color: inherit;
        &:hover {
            color: color-var(--global__colors__secondary);
            text-decoration: none;
        }
    }
    &__heading {
        font-weight: 400;
    }
    &__image-container {
        display: none;
    }
    &__figure {
        margin-bottom: 0;
    }
    &__content {
        color: #666;
    }
    &__author-time-container {
        color: #666;
        font-size: $font-size-xsmall;
        > * {
            margin-bottom: 0;
        }
    }
    &__content-container {
        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__content {
        font-size: $font-size-small;
        line-height: 1;
    }
    &__deep-links {
        font-size: $font-size-xsmall;
    }
    &__deep-link-item {
        svg {
            width: .75em;
            height: .75em;
        }
    }
    &--increase-heading-size {
        .news-post-card__heading {
            @include heading-size(--headings__large);
            font-weight: 700;
        }
    }
    &--decrease-heading-size {
        .news-post-card__heading {
            font-size: $font-size-small;
        }
    }
    &--hide-content {
        .news-post-card {
            &__content {
                display: none;
            }
        }
    }
    &--display-image-top,
    &--display-image-left,
    &--display-image-right {
        .news-post-card {
            &__image-container {
                display: block;
            }
        }
    }
    &--display-image-top {
        .news-post-card__container {
            > * {
                margin-bottom: var(--global__sizing__text-spacing--half);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--display-image-left,
    &--display-image-right {
        .news-post-card__container {
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: calc(50% - 10px);
                flex-basis: calc(50% - 10px);
                margin-left: 10px;
                margin-right: 10px;

                &:first-child {
                    margin-left: 0;
                    width: calc(35% - 10px);
                    flex-basis: calc(35% - 10px);
                }

                &:last-child {
                    width: calc(65% - 10px);
                    flex-basis: calc(65% - 10px);
                    margin-right: 0;
                }
            }
        }
    }
    &--display-image-right {
        .news-post-card__container {
            > * {
                &:first-child {
                    order: 2;
                    margin-left: 10px;
                    margin-right: 0;
                }

                &:last-child {
                    order: 1;
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
        }
    }
}
