.playlist-row {
    & > * {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
    &__col {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            margin: 0;
        }
        label {
            display: flex;
            align-items: center;
        }
    }
    &__heading-dropdown {
        display: flex;
        > .heading {
            margin: 0;
        }
    }
    &__sort {
        span {
            color: color-var(--global__colors__primary);
        }
        .icon {
            margin-left: var(--global__sizing__text-spacing--half);
            margin-right: 0;
        }
        .dropdown-list {
            background-color: color-var(--global__colors__white);
            padding: 0;
            right: var(--global__sizing__layout-spacing--half);
            > li {
                padding: var(--global__sizing__text-spacing--half) var(--global__sizing__text-spacing--default);
                transition: all 0.15s ease-in-out;
                cursor: pointer;
                &:hover {
                    background-color: color-var(--global__colors__secondary);
                    color: color-var(--global__colors__white);
                }
            }
        }
    }
}
