.playlist {
    &__container {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__heading-container {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__text-spacing--default);
        align-items: flex-start;
        justify-content: space-between;

        @include media-breakpoint-up(sm) {
            flex-flow: row nowrap;
            align-items: center;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__settings {
        color: color-var(--global__colors__primary);
        position: relative;
        svg {
            width: 1em;
            height: 1em;
        }
    }
    &__settings-list {
        min-width: 175px;
        text-align: left;
        font-weight: 400;
        text-transform: capitalize;
        font-family: Roboto,sans-serif;

        @include media-breakpoint-down(sm) {
            left: 0;
        }

        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__heading {
        > a {
            display: inline-flex;
            color: color-var(--global__colors__primary);
            svg {
                width: 15px;
                height: 15px;
            }
        }
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
            + a {
                margin-left: var(--global__sizing__text-spacing--half);
            }
        }
    }
}
