.podcast-card {
    > * {
        margin-bottom: var(--global__sizing__layout-spacing--half);

        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: inherit;
        &:hover {
            color: color-var(--global__colors__secondary);
            text-decoration: none;
        }
    }

    //&__heading-link {
    //    display: block;
    //    width: fit-content;
    //    &:hover {
    //        color: $blue;
    //    }
    //}

    //&__heading {
    //    margin-bottom: 0;
    //}

    //&--compact {
    //    height: auto;
    //    background-color: transparent;
    //    border: none;
    //    padding-left: 0;
    //    padding-right: 0;
    //    .podcast-card {
    //        &__content,
    //        &__button {
    //            display: none;
    //        }
    //        &__heading-link {
    //            margin-bottom: 0;
    //        }
    //        &__heading {
    //            @include heading-size(--heading__default);
    //            color: $blue;
    //        }
    //    }
    //}
    //&--minimalist {
    //    height: auto;
    //    .podcast-card {
    //        &__image-container,
    //        &__button {
    //            display: none;
    //        }
    //        &__content {
    //            margin-bottom: 0;
    //        }
    //    }
    //}
}
