.profile-tabs {
    &__container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0;
    }
    .sub-nav {
        &--horizontal .sub-nav__list {
            margin: 0;
        }

        &__list {
            font-size: $font-size-base;
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
        }

        &__item {
            margin-bottom: 0;

            &--active {
                .sub-nav__link {
                    color: inherit;
                    background-color: inherit;

                    &:after {
                        @extend %link--underline;
                    }
                }
            }
        }

        &__link {
            position: relative;
            color: color-var(--global__colors__gray-dark);

            &:hover {
                color: inherit;
                text-decoration: none;

                &:after {
                    @extend %link--underline;
                }
            }
        }
    }
    &__content {
        .content-row[data-toggle-target] {
            margin-bottom: 0;
        }
    }
    &__settings {
        display: inline-block;
        vertical-align: middle;
        svg {
            width: .9em;
            height: .9em;
        }
    }
    &__tab-content {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__create-playlist-button {
        svg {
            width: .85em;
            height: .85em;
        }
    }
}
