.profile-nameplate {
    display: flex;
    align-items: center;

    > * {
        @media only screen and (max-width: 767px) {
            margin-bottom: var(--global__sizing__text-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        flex-flow: column nowrap;
    }
    &__user-card {
        display: inline-block;
        margin: var(--global__sizing__layout-spacing--half) 0;
        @include media-breakpoint-up(md) {
            margin: 0 var(--global__sizing__layout-spacing--default) 0 0;
        }

        .user-card {
            width: 125px;
            height: 100%;
            &__placeholder {
                height: 125px;
            }
        }
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        &:last-child {
            @media only screen and (max-width: 767px) {
                text-align: center;
            }
        }
    }
    &__content-inner {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
            justify-content: center;
        }
        > * {
            margin: 0 calc(var(--global__sizing__text-spacing--half) / 1.5);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        .icon {
            .icon-use {
                color: color-var(--global__colors__primary);
            }
        }
    }
    &__verified {
        > img {
            max-width: 20px;
        }
    }
    .image-upload {
        &__image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        &__edit-button {
            border-radius: 50%;
            height: 35px;
            width: 35px;
            padding: 0;
            display: inline-block;

            .icon {
                margin-right: 0;

                svg {
                    width: .95em;
                    height: .95em;
                }
            }
        }
        &__edit-list {
            left: 0;
        }
    }
}
