.draggable {
    touch-action: none;
}

.profile-cover-photo {
    margin-bottom: 0;
    &__reposition-icon {
        padding: var(--global__sizing__text-spacing--half);
        border-radius: var(--global__sizing__text-spacing--half);
        background-color: color-var(--global__colors__black, .25);
        color: color-var(--global__colors__white);
        position: absolute;
        display: none;
        &--show {
            display: block;
        }
    }
    &__reposition-update-container {
        display: none;
        padding: var(--global__sizing__text-spacing--half);
        background-color: color-var(--global__colors__gray-darker, .25);
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        > * {
            margin-bottom: 0;
        }

        &--show {
            display: flex;
        }
    }
    &__cover-photo-container {
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            padding-top: 25%;
        }
    }

    &__cover-photo-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 100%;
        &--hide {
            display: none;
        }
    }

    .image-upload__image {
        width: 2000px;
        max-height: 768px;

        @include media-breakpoint-up(md) {
            max-height: 450px;
        }
    }
    .image-upload__edit-container {
        bottom: var(--global__sizing__layout-spacing--half);
        right: var(--global__sizing__layout-spacing--half);
    }
    &__edit-button {
        &--hide {
            display: none;
        }
    }
    &__placeholder {
        display: none;
        width: 100%;
        height: 295px;
        padding: var(--global__sizing__layout-spacing--half);
        border: 1px dashed color-var(--global__colors__gray-light);

        @include media-breakpoint-up(sm) {
            padding: var(--global__sizing__layout-spacing--default);
        }
        &--show {
            display: block;
        }
    }
    &__placeholder-inner {
        border: 1px dashed color-var(--global__colors__gray-light);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgba(var(--global__colors__gray-light), .3);
    }
    &__placeholder-title {
        margin: 0;
    }
}
