.search-bar {
    .search-form {
        display: flex;
        > * {
            border-radius: var(--buttons__common__border--radius);
            margin: 0 var(--global__sizing__text-spacing--half);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .icon-search svg {
            color: color-var(--global__colors__black);
        }
        &__label {
            background-color: white;
            padding: var(--global__sizing__text-spacing--half) var(--global__sizing__layout-spacing--half);
        }
        input[type="search"] {
            background-color: inherit;
            border: none;
            color: color-var(--global__colors__black);
            @include placeholder-color() {
                color: color-var(--global__colors__gray-darker);
            }
        }
        input[type="submit"] {
            padding-left: var(--global__sizing__layout-spacing--default);
            padding-right: var(--global__sizing__layout-spacing--default);
        }
    }
}
