.search-form {
    display: flex;
    width: 100%;

    &__label {
        margin-bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    input[type="search"] {
        background-color: color-var(--global__colors__black);
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        margin: 0 var(--global__sizing__text-spacing--half);
    }

    &__close {
        background-color: inherit;
        color: color-var(--global__colors__white);
        outline: 0;
        border: 0;
    }
}
