.share-video-modal {
    &__embed-iframe {
        position: absolute;
        z-index: -1;
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0 !important;
    }
    &__list {
        .social-sharer-card {
            &--embed {
                .icon {
                    color: color-var(--global__colors__secondary);
                }
            }
            &--native {
                display: block;
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }
    }
    &__copy-container {
        display: flex;
    }
    &__copy-button {
        background-color: color-var(--global__colors__secondary);
        color: color-var(--global__colors__white);

        &:hover {
            background-color: color-var(--global__colors__secondary);
            color: color-var(--global__colors__white);
        }
    }
}
