.social-sharer-card {
    &__icon {
        display: inline-block;
        -webkit-appearance: none;
        border: 0;
        background-color: transparent;
        color: color-var(--global__colors__primary);
        padding: 0;
        margin-bottom: var(--global__sizing__text-spacing--half);
        .icon svg {
            width: 3.5em;
            height: 3.5em;
        }
    }
    &__label {
        text-align: center;
        font-size: $font-size-xsmall;
    }
}
