.stories-list {
    & > * {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
    &__col {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            margin: 0;
        }
        label {
            display: flex;
            align-items: center;
        }
    }
    &__heading-dropdown {
        display: flex;
        > .heading {
            margin: 0;
        }
    }
}
