.story-card {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--global__sizing__layout-spacing--half);
    background-color: color-var(--global__colors__white);
    border: 1px solid #eee;
    height: 100%;

    &__image-container {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }

    &__content-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        flex-basis: 100%;
        width: 100%;

        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__heading-link {
        display: block;
        width: fit-content;
        &:hover {
            color: $blue;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__button {
        width: 100%;
    }

    &--compact {
        height: auto;
        background-color: transparent;
        border: none;
        padding-left: 0;
        padding-right: 0;
        .story-card {
            &__content,
            &__button {
                display: none;
            }
            &__heading-link {
                margin-bottom: 0;
            }
            &__heading {
                @include heading-size(--heading__default);
                color: $blue;
            }
        }
    }
    &--minimalist {
        height: auto;
        .story-card {
            &__image-container,
            &__button {
                display: none;
            }
            &__content {
                margin-bottom: 0;
            }
        }
    }
}
