.stripe-connect {
    display: inline-flex;
    flex-flow: row nowrap;
    min-width: 250px;

    > * {
        display: flex;
        align-items: center;
        margin: 0 var(--global__sizing__text-spacing--half);
    }

    &__icon-container {
        margin-left: 0;
        border: 2px solid rgba(13, 12, 34, 0.05);
        border-radius: 12px;

        .icon {
            svg {
                width: 3em;
                height: 3em;
            }
        }
    }

    &__link-container {
        margin-right: 0;
        flex-flow: column nowrap;
        font-size: 10px;
    }

    &__link {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;

        &:hover {
            text-decoration: none;
        }
    }

    &__heading {
        @extend %text--gray-darker;
    }

    &__icon {
        display: flex;

        > .icon {
            margin-left: var(--global__sizing__text-spacing--half);

            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}
