.stripe-product-form {
    &__row {
        margin-bottom: var(--global__sizing__layout-spacing--default);
        &:last-child {
            margin-bottom: 0;
        }
        &--customer-details {
            > * {
                display: flex;
                flex-flow: column nowrap;
                margin-bottom: var(--global__sizing__layout-spacing--default);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
