.sub-nav {
    @media only screen and (max-width: 479px) {
        &:not(.col-reset-exclude) > :last-child > :last-child {
            margin-bottom: calc(var(--global__sizing__layout-spacing--half) / 2) !important;
        }
    }
    &--horizontal {
        &:not(.sub-nav--secondary):not(.profile-tabs) {
            .sub-nav {
                &__list {
                    text-align: left;
                    @media only screen and (max-width: 479px) {
                        overflow: hidden;
                        white-space: normal;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;

                        > .sub-nav__item {
                            display: inline-flex;
                            flex-basis: calc(50% - var(--global__sizing__text-spacing--default));
                            width: calc(50% - var(--global__sizing__text-spacing--default));
                            margin-left: var(--global__sizing__text-spacing--half);
                            margin-right: var(--global__sizing__text-spacing--half);
                            margin-bottom: calc(var(--global__sizing__layout-spacing--half) / 2);

                            > .sub-nav__link {
                                font-size: $font-size-xsmall;
                            }
                        }
                    }
                }

                &__item {
                    margin: 0 calc(var(--global__sizing__text-spacing--half) / 2);

                    &--active {
                        > .sub-nav__link {
                            background-color: color-var(--global__colors__secondary);
                        }
                    }
                }

                &__link {
                    @extend %button;
                }
            }
        }
    }

    &--buttons {
        .sub-nav {
            &__link {
                background-color: $blue;
            }
        }
    }

    &--secondary {
        .sub-nav {
            &__list {
                font-size: $font-size-xsmall;
            }
            &__item--active {
                .sub-nav__link {
                    background-color: color-var(--global__colors__gray-darker);
                    color: color-var(--global__colors__white);
                }
            }
            &__link {
                box-shadow: inset 0 0 2px 0 rgba(var(--global__colors__gray-dark),1);
                background-color: #eee;
                border-radius: 25px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &--stories-blue {
        .sub-nav {
            &__item:not(.sub-nav__item--active) {
                .sub-nav__link {
                    background-color: $blue;
                }
            }
        }
    }
}
