.support-section {
    .content-column__inner {
        background-color: color-var(--global__colors__white);
        padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--half);
        border-radius: 20px;
        @media only screen and (min-width: 768px) {
            padding: var(--global__sizing__layout-spacing--default);
        }
    }
    &__content {
        display: flex;
        > * {
            height: 100%;
        }
    }
    &__tab {
        width: 100%;
        display: none;
        flex-flow: column nowrap;

        &--show {
            display: flex;
        }
    }
    &__tab-list-item {
        &--active {
            > .button {
                background-color: color-var(--global__colors__primary);

                &:hover {
                    background-color: color-var(--global__colors__primary);
                }
            }
        }
    }
    &__form {
        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }

        label {
            margin: 0;
        }

        input,
        textarea {
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px color-var(--global__colors__gray-lighter) inset !important;
                -webkit-text-fill-color: color-var(--global__colors__secondary);
            }
            &[type="submit"] {
                width: 100%;
                border-radius: var(--buttons__common__border--radius);
            }
        }
    }
}

.support-form {
    input {
        &[name="support-form__amount"] {
            margin-right: var(--global__sizing__text-spacing--half);
        }
    }
    &__fieldset {
        &:first-of-type {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            input:checked[type=radio] {
                border-color: color-var(--global__colors__secondary);
                background-color: color-var(--global__colors__secondary);
            }
            .form-fields__prepend-icon {
                background-color: color-var(--global__colors__gray-lighter);
                border-radius: 15px;
                padding: var(--global__sizing__text-spacing--half) var(--global__sizing__text-spacing--default);
                > span {
                    color: color-var(--global__colors__secondary);
                    font-weight: bold;
                    padding: 0;
                    border: none;
                    box-shadow: none;
                }
                input[type="text"] {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    color: color-var(--global__colors__secondary);
                }
            }
        }
        &:nth-of-type(2) {
            padding: var(--global__sizing__text-spacing--default);
            background-color: color-var(--global__colors__gray-lighter);
            border-radius: 10px;
            > * {
                margin-bottom: var(--global__sizing__text-spacing--default);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            > div {
                display: flex;
                flex-flow: row nowrap;
                > * {
                    color: color-var(--global__colors__secondary);
                    text-align: left;
                    &:first-child {
                        flex-basis: 20%;
                        width: 20%;
                    }
                    &:last-child {
                        flex-basis: 80%;
                        width: 80%;
                    }
                }
                > input {
                    @include placeholder-color {
                        color: color-var(--global__colors__secondary);
                    }
                    background-color: transparent;
                }
                > textarea {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
                &:last-child {
                    @media only screen and (max-width: 767px) {
                        flex-flow: column nowrap;
                    }
                }
            }
        }
        #support-credit-card {
            padding: var(--global__sizing__text-spacing--default);
            background-color: color-var(--global__colors__gray-lighter);
            border-radius: 10px;
        }
    }

    #support-form-toggle {
        margin-bottom: 0;
    }

    &__radio-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 var(--global__sizing__layout-spacing--half) 0 0;
        @media only screen and (min-width: 768px) {
            margin: 0 var(--global__sizing__layout-spacing--default);
        }
        label {
            display: inline-flex;
            align-items: center;
            margin: 0 var(--global__sizing__text-spacing--half);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.membership-form {
    > * {
        margin-bottom: var(--global__sizing__text-spacing--default);

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__fieldset {
        &:nth-of-type(2) {
            padding: var(--global__sizing__text-spacing--default);
            background-color: color-var(--global__colors__gray-lighter);
            border-radius: 10px;
            > * {
                margin-bottom: var(--global__sizing__text-spacing--default);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            > div {
                display: flex;
                flex-flow: row nowrap;
                > * {
                    color: color-var(--global__colors__secondary);
                    text-align: left;
                    &:first-child {
                        flex-basis: 25%;
                        width: 25%;
                        @media only screen and (min-width: 768px) {
                            flex-basis: 15%;
                            width: 15%;
                        }
                    }
                    &:last-child {
                        flex-basis: 75%;
                        width: 75%;
                        @media only screen and (min-width: 768px) {
                            flex-basis: 85%;
                            width: 85%;
                        }
                    }
                }
                > input {
                    @include placeholder-color {
                        color: color-var(--global__colors__secondary);
                    }
                    background-color: transparent;
                }
            }
        }
        #membership-credit-card {
            padding: var(--global__sizing__text-spacing--default);
            background-color: color-var(--global__colors__gray-lighter);
            border-radius: 10px;
            margin-bottom: var(--global__sizing__text-spacing--half);
        }
    }
    #membership-form-toggle {
        margin-bottom: 0;
    }
    &__options {
        display: flex;
        justify-content: center;
        > * {
            flex-basis: 25%;
            width: 25%;
            &.button {
                border-radius: 0;
                border-left: 1px solid color-var(--global__colors__white);
                border-right: 1px solid color-var(--global__colors__white);
                &:first-of-type {
                    border-left: 0;
                    border-top-left-radius: var(--buttons__common__border--radius);
                    border-bottom-left-radius: var(--buttons__common__border--radius);
                }
                &:last-of-type {
                    border-right: 0;
                    border-top-right-radius: var(--buttons__common__border--radius);
                    border-bottom-right-radius: var(--buttons__common__border--radius);
                }
            }
        }
    }
    &__option {
        @media only screen and (max-width: 767px) {
            font-size: $font-size-small;
        }
        &--active {
            background-color: color-var(--global__colors__secondary);
        }
    }
}
