.testimonial-card {
    background-color: color-var(--global__colors__white);
    padding: var(--global__sizing__layout-spacing--default);
    border-radius: var(--global__sizing__layout-spacing--default);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    font-size: $font-size-small;

    > * {
        margin-bottom: var(--global__sizing__layout-spacing--half);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__attribution-container {
        display: flex;
        align-items: center;
        > * {
            margin-left: calc(var(--global__sizing__text-spacing--half)/2);
            margin-right: calc(var(--global__sizing__text-spacing--half)/2);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__attribution-image-container {
        flex-basis: 20%;
        width: 20%;
    }
    &__attribution-image {
        border-radius: 50%;
    }
    &__content-container {
        flex-basis: 80%;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        > * {
            margin-bottom: 0;
        }
    }
    &__attribution-name {
        margin-bottom: 0;
    }
    &__attribution-job-title {
        font-size: $font-size-xsmall;
    }
}
