.upload-video-form {
    > *:last-child {
        margin-bottom: 0;
    }
    &__row {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__layout-spacing--half);

        > .button {
            @include media-breakpoint-down(sm) {
                margin-bottom: var(--global__sizing__layout-spacing--half);
            }
        }

        &--50 {
            @include media-breakpoint-up(md) {
                flex-flow: row nowrap;
            }

            > * {
                flex-basis: 100%;
                @include media-breakpoint-up(md) {
                    flex-basis: calc(50% - var(--global__sizing__layout-spacing--half));
                    margin-left: calc(var(--global__sizing__layout-spacing--half) / 2);
                    margin-right: calc(var(--global__sizing__layout-spacing--half) / 2);

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &--checkbox {
            > label {
                margin-bottom: 0;
            }
        }
        &--bwayworldrecord {
            display: none;
        }
        &--show {
            display: block;
        }
    }
    &__row-inner {
        margin-bottom: var(--global__sizing__layout-spacing--half);
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            margin-right: var(--global__sizing__layout-spacing--half);
        }
    }
    &__description {
        margin-bottom: var(--global__sizing__text-spacing--half);
    }
    &__video-file {
        display: none;
        transition: opacity 0.15s ease-in-out;
    }
    &__filename {
        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
        margin: 0 0 0 var(--global__sizing__layout-spacing--half);
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        border-color: color-var(--global__colors__gray-dark);
        margin-right: var(--global__sizing__text-spacing--half);
        &:checked {
            border-color: color-var(--global__colors__secondary);
            background-color: color-var(--global__colors__secondary);
        }
    }
}
