.upload-progress-bar {
    border: none;
    width: 100%;
    height: 34px;
    background: color-var(--global__colors__gray-ligher);
    color: color-var(--global__colors__primary);

    &::-webkit-progress-value {
        background: color-var(--global__colors__primary);
    }

    &::-moz-progress-bar {
        background: color-var(--global__colors__primary);
    }

    &::-webkit-progress-value {
        background: color-var(--global__colors__primary);
    }

    &::-webkit-progress-bar {
        background: color-var(--global__colors__gray-lighter);
    }

    &__container {
        display: none;
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__layout-spacing--default);

        &--show {
            display: flex;
        }
    }
}
