.user-card {
    width: 125px;
    height: 100%;
    margin: 0 auto;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    &__container {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        margin: 0 auto;
    }
    &__image {
        border-radius: 50%;
        padding-bottom: 100%;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    &__permalink {
        display: inline-flex;
        width: 100%;
        height: 100%;
    }
    &__heading-container {
        margin-top: var(--global__sizing__layout-spacing--half);
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            max-width: 20px;
        }
    }
    &__heading {
        margin: 0 var(--global__sizing__text-spacing--half);
        text-align: center;
    }
    &__placeholder {
        border-radius: 50%;
        height: 125px;
        width: 100%;
        padding: 5px;
        border: 1px dashed color-var(--global__colors__gray-light);
    }
    &__placeholder-inner {
        text-align: center;
        border-radius: 50%;
        border: 1px dashed color-var(--global__colors__gray-light);
        padding: var(--global__sizing__layout-spacing--half);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgba(var(--global__colors__gray-light), .3);
    }
}
