%user-profile-form,
.user-profile-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    > * {
        display: flex;
        flex-basis: 100%;
        flex-flow: column nowrap;

        &:last-child {
            margin-bottom: 0;
        }

        &:not(.user-profile-form__checkboxes):not(.user-profile-form__submit):not(.user-profile-form__bio):not(.user-profile-form__hint) {
            @include media-breakpoint-up(md) {
                padding: 0 var(--global__sizing__text-spacing--half);
                flex-basis: 50%;

                &:first-child,
                &:nth-child(odd) {
                    padding-left: 0;
                }

                &:nth-child(even) {
                    padding-right: 0;
                }
            }
        }
    }
    &__label {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
    }
    small {
        font-style: italic;
        color: color-var(--global__colors__gray-dark);
    }
    &__hint {
        text-align: center;
    }
    &__checkboxes {
        padding-top: var(--global__sizing__text-spacing--half);
    }
    &__checkbox {
        margin-right: var(--global__sizing__text-spacing--half);
    }
    &__submit {
        display: block;
    }
}
