.video-poster-card {
    width: 100%;
    position: relative;
    &:hover {
        .video-card__heading {
            color: color-var(--global__colors__primary);
        }
    }
    .icon {
        z-index: 1;
        position: absolute;
        top: var(--global__sizing__text-spacing--half);
        left: var(--global__sizing__text-spacing--half);
        .icon-use {
            color: color-var(--global__colors__white);
        }
    }
    &__premium-banner {
        position: absolute;
        top: calc(50% - 14px);
        left: calc(50% - 41px);
        font-size: 14px;
        &--members {
            left: calc(50% - 60px);
        }
        &--extended {
            top: calc(50% - 21px);
            left: calc(50% - 60px);
        }
    }
    &__logo {
        width: 30px;
        height: 30px;
        position: absolute;
        top: var(--global__sizing__text-spacing--half);
        right: var(--global__sizing__text-spacing--half);
    }
    &__poster-image {
        padding-bottom: 56.25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
    }
    &__heading {
        margin-bottom: calc(var(--global__sizing__text-spacing--half) / 2);
        > a:hover {
            text-decoration: none;
        }
    }
    &__permalink {
        position: relative;
        display: block;
    }
    &__content-container {
        display: flex;
        padding: var(--global__sizing__layout-spacing--half) 0;
    }
    &__user-card {
        display: inline-block;
        margin: 0 var(--global__sizing__layout-spacing--half) 0 0;
        max-width: 35px;
        max-height: 35px;
        .user-card {
            &__placeholder {
                height: 35px;
                padding: 2px;
            }
            &__placeholder-inner {
                padding: 1px;
            }
        }
    }
    &__content-container-inner {
        width: 100%;
        //> * {
            //margin-bottom: var(--global__sizing__text-spacing--half);
            //&:last-child {
            //    margin-bottom: 0;
            //}
        //}
    }
    &__header-container {
        display: flex;
        align-items: center;
        > img {
            max-width: 10px;
            margin-left: 5px;
        }
    }
    &__author-username {
        font-size: $font-size-xsmall;
    }
    &__list {
        display: flex;
        margin-bottom: 0;
        font-size: $font-size-xsmall;
        &.list--inline li {
            padding: 0;
        }
        &.list--dotted li:after {
            padding-left: calc(var(--block-text__lists__item-inline-spacing-horizontal)/2);
            padding-right: calc(var(--block-text__lists__item-inline-spacing-horizontal)/2);
        }
    }
    &--horizontal {
        display: flex;
        .video-poster-card {
            &__premium-banner {
                > span {
                    display: none;
                }
                &--members {
                    left: calc(50% - 41px);
                }
            }
            &__permalink {
                flex: 1 0 40%;
                margin-right: var(--global__sizing__layout-spacing--half);
            }
            &__user-card {
                display: none;
            }
            &__content-container {
                padding: 0;
                flex: 1 0 60%;
            }
            &__content-container-inner {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            }
        }
    }
    &--premium-video {
        .video-poster-card {
            &__poster-image {
                filter: brightness(20%);
            }
        }
    }
}
