#video-support-modal {
    .modal__container {
        background-color: color-var(--global__colors__white);
    }
    .modal__container,
    .modal__content {
        max-width: 500px;
    }
    .video-support-modal {
        text-align: center;
    }
}
