.video-player-dimensions.vjs-fluid {
    padding-top: 56.25%;
}

.vjs-tech {
    object-fit: cover;
}

.vjs-poster {
    background-size: cover !important;
}

.vjs-control-bar {
    display: flex;
    .vjs-play-control {
        order: 1;
    }
    .vjs-volume-panel {
        order: 2;
    }
    .vjs-progress-control {
        order: 3;
    }
    .vjs-remaining-time {
        order: 4;
    }
    .video-js__custom-button {
        order: 5;
    }
    .vjs-picture-in-picture-control {
        order: 6;
    }
    .vjs-fullscreen-control {
        order: 7;
    }
}

.video-js.vjs-custom .vjs-big-play-button {
    border-color: color-var(--global__colors__primary);
}

/* Change all text and icon colors in the player. */
.vjs-custom.video-js {
    color: color-var(--global__colors__primary);
}

/* Change the border of the big play button. */
.vjs-custom .vjs-big-play-button {
    border-color: color-var(--global__colors__primary);
}

/* Change the color of various "bars". */
.vjs-custom .vjs-volume-level,
.vjs-custom .vjs-play-progress,
.vjs-custom .vjs-slider-bar,
.vjs-custom .vjs-control-bar,
.vjs-custom .vjs-play-progress {
    background: color-var(--global__colors__primary);
}

.video-js {
    &__container {
        position: relative;
    }
    &__title-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 1;
        padding: var(--global__sizing__layout-spacing--half);
        > * {
            margin-bottom: 0;
        }
    }
    &__user-image-container {
        margin-right: var(--global__sizing__layout-spacing--half);
        img {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            @media only screen and (min-width: 400px) {
                width: 40px;
                height: 40px;
            }
            @media only screen and (min-width: 576px) {
                width: 50px;
                height: 50px;
            }
            @media only screen and (min-width: 992px) {
                width: 75px;
                height: 75px;
            }
        }
    }
    &__heading {
        color: color-var(--global__colors__white);
        font-size: 10px;
        @media only screen and (min-width: 400px) {
            font-size: 14px;
        }
        @media only screen and (min-width: 480px) {
            font-size: 16px;
        }
    }
    &__drawer {
        position: absolute;
        bottom: calc(var(--global__sizing__layout-spacing--default)*1.5);
        right: var(--global__sizing__layout-spacing--half);
        left: 0;
        display: none;
        justify-content: flex-end;
        &--active {
            display: flex;
        }
        .vjs-custom.vjs-user-inactive + & {
            display: none;
        }
    }
    &__button {
        background-color: color-var(--global__colors__primary, .25);
        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
        &:hover {
            background-color: color-var(--global__colors__secondary, .25);
        }
    }
    &__custom-button {
        a,
        img {
            height: 75%;
        }
    }
}
