$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-path: '../fonts' !default;
$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

$image-path: '/../images' !default;

$blue: #3f96aa;
$gray-offset: #eee;

$content-section-width-narrow: 768px;
$icon-svg-size: 1.25em;
$icon-svg-size-small: .85em;
$icon-svg-size-large: 1.75em;
$icon-svg-wide-size: 1.4em;

$modal-max-width: 400px;
$modal-close-color: color-var(--global__colors__primary);

$sub-nav-font-size: 18px;
$sub-nav-horizontal-item-spacing: var(--global__sizing__text-spacing--default) calc(var(--global__sizing__text-spacing--half)/2);
$sub-nav-link-active-background: transparent;
$sub-nav-link-background: transparent;

//$sub-nav-horizontal-item-spacing: calc(var(--global__sizing__text-spacing--half)/2);
//$sub-nav-link-active-background: color-var(--global__colors__secondary);
//$sub-nav-link-background: color-var(--global__colors__primary);
//$sub-nav-link-active-color: color-var(--global__colors__white);
