.monetize-payments {
    &__next-prev {
        display: flex;
        margin-top: var(--global__sizing__layout-spacing--default);
        max-width: 175px;
        justify-content: space-between;
    }
}
