.page-template-news-category {
    .content-section--extended .content-column:not(.border-exclude) {
        border-bottom: 1px solid #ccc;
    }
}

.page-template-news-category,
.page-template-news {
    .heading {
        > a:hover {
            color: color-var(--global__colors__secondary);
            text-decoration: none;
        }
    }
    .content-section--extended {
        .content-row {
            > *:not(.border-exclude) {
                border-left: 1px solid #ccc;

                &:last-child {
                    border-right: 1px solid #ccc;
                }
            }

            .content-column {
                .news-post-card {
                    padding-bottom: var(--global__sizing__layout-spacing--half);
                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ccc;
                    }

                    &:last-child {
                        .news-post-card__container {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .content-row-inner {
            > * {
                border-right: 1px solid #ccc;
                &:last-child {
                    border-right: 0;
                }
            }
        }
        & + .content-section--extended {
            padding-top: var(--global__sizing__layout-spacing--default);
            border-top: 1px solid #ccc;
        }
    }
}
