body.page-template-newsletter {
    background-image: url('../images/10glo-cover-2000.jpg');

    .content-section:first-child {
        margin-top: 0 !important;
        margin-bottom: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;

        .content-section {
            &__container {
                background-color: color-var(--global__colors__white);
                padding-top: var(--global__sizing__layout-spacing--double);
                padding-bottom: var(--global__sizing__layout-spacing--double);
            }
        }
    }
    //.newsletter-form {
    //    &__container {
    //        max-width: 235px;
    //        margin: 0 auto;
    //    }
    //    &__email {
    //        margin-bottom: var(--global__sizing__layout-spacing--half);
    //    }
    //    &__submit {
    //        width: 100%;
    //        border-radius: var(--buttons__common__border--radius);
    //    }
    //}
    img {
        max-width: 150px;
    }
    #mc_embed_signup {
        max-width: 235px;
        margin: 0 auto var(--global__sizing__text-spacing--default);
        padding: 0;
    }
    #mce-EMAIL {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
    #mc-embedded-subscribe {
        width: 100%;
    }
}
