.profile-subscribe {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

#premium-video-service-button {
    font-size: $font-size-xsmall;
    margin-bottom: 5px;
    @include media-breakpoint-up(sm) {
        margin-left: var(--global__sizing__layout-spacing--half);
    }
}
