.page-template-register {
    .wrap {
        display: flex;
        height: 100%;
        position: relative;

        @include media-breakpoint-down(sm) {
            padding-top: var(--global__sizing__layout-spacing--default);
        }
    }
    .main {
        margin: auto;
    }

    .beta-ribbon {
        @include media-breakpoint-down(sm) {
            max-width: 50px;
        }
    }
}
