.podcast-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;

    > a {
        margin-bottom: var(--global__sizing__text-spacing--half);
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        flex-flow: row nowrap;
        > a {
            margin: 0 var(--global__sizing__text-spacing--half);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    img {
        max-width: 180px;
        height: 45px;
    }
}
