/* Figure out what to do with this right beneath here */
.stories-hero-row {
    > div {
        display: flex;
        align-items: flex-end;
        > * {
            margin-right: var(--global__sizing__layout-spacing--half);
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    .vc-single-image {
        max-width: 75px;
        margin-bottom: 0;
        @include media-breakpoint-up(sm) {
            max-width: 100px;
        }
    }
    .heading {
        margin-bottom: 5px !important;
    }
    .button:last-child {
        background-color: $blue;
        &:hover {
            background-color: color-var(--global__colors__secondary);
        }
    }
}

.single-story {
    color: #666;
    &__title-tagline {
        .heading {
            color: color-var(--global__colors__black);
        }
        > * {
            margin-bottom: var(--global__text-spacing--default);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__categories,
    &__tags {
        margin-top: -5px;
        > * {
            font-size: $font-size-xsmall;
        }
    }
}
