.page-template-video-embed {
    .header-nav,
    .footer-nav {
        display: none;
    }
    .wrap {
        margin: 0;
    }
    .video-js__title-container {
        display: flex;
    }
    .video-js.vjs-custom .vjs-big-play-button {
        border-color: color-var(--global__colors__white);
    }

    /* Change all text and icon colors in the player. */
    .vjs-custom.video-js {
        color: color-var(--global__colors__white);
    }

    /* Change the border of the big play button. */
    .vjs-custom .vjs-big-play-button {
        border-color: color-var(--global__colors__white);
    }

    /* Change the color of various "bars". */
    .vjs-custom .vjs-volume-level,
    .vjs-custom .vjs-play-progress,
    .vjs-custom .vjs-play-progress {
        background: color-var(--global__colors__white);
    }
    .vjs-custom .vjs-slider-bar {
        background-color: color-var(--global__colors__secondary);
    }
    .video-js .vjs-play-progress:before {
        color: color-var(--global__colors__secondary);
    }
}
