.page-template-video-edit {
    .wrap {
        display: flex;
        height: 100%;
        position: relative;

        @include media-breakpoint-down(sm) {
            padding-top: var(--global__sizing__layout-spacing--default);
        }
    }
    .main {
        margin: auto;
    }
}

.video-edit {
    > *:last-child {
        margin-bottom: 0;
    }
}
