.video-watch {
    &__player-container {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);
            @include media-breakpoint-up(md) {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__poster {
        width: 100%;
        position: relative;
    }
    &__logo {
        width: 30px;
        height: 30px;
        position: absolute;
        top: var(--global__sizing__text-spacing--half);
        right: var(--global__sizing__text-spacing--half);
    }
    &__poster-image {
        padding-bottom: 56.25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }
    &__disclaimer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        color: color-var(--global__colors__white);
    }
    &__views-date {
        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }
        > ul {
            font-size: $font-size-small;
        }
        .list--inline li {
            padding: 0;
        }
        .list--dotted li:after {
            padding-left: calc(var(--block-text__lists__item-inline-spacing-horizontal)/2);
        }
    }
    &__activity-bar {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        > * {
            @include media-breakpoint-down(sm) {
                margin-bottom: var(--global__sizing__text-spacing--half);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    &__interactions {
        > ul {
            font-size: $font-size-small;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &__rate {
        color: color-var(--global__colors__primary);

        &:hover {
            color: inherit;
        }
    }
    &__hr {
        height: 1px;
        background-color: color-var(--global__colors__gray-light);
        border: none;
    }
    &__author-bio-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        > * {
            @include media-breakpoint-down(sm) {
                margin-bottom: var(--global__sizing__layout-spacing--half);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__author-bio {
        font-size: $font-size-xsmall;
        display: flex;
        align-items: center;
        .user-card {
            display: inline-block;
            margin-right: var(--global__sizing__layout-spacing--half);
            width: 35px;
            max-height: 35px;
            &__placeholder {
                height: 35px;
                padding: 2px;
            }
            &__placeholder-inner {
                padding: 0;
            }
        }
    }
    &__nameplate {
        display: flex;
        align-items: center;
        > * {
            margin-bottom: 0;
        }
        > img {
            margin-left: var(--global__sizing__text-spacing--half);
            max-width: 10px;
        }
    }
    &__nameplate-subscribers {
        > a {
            color: color-var(--global__colors__black);
            &:hover {
                color: color-var(--global__colors__primary);
            }
        }
    }
    &__hashtags {
        margin-bottom: var(--global__sizing__layout-spacing--double);
    }
    &__interactions {
        position: relative;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    &__interactions-list {
        display: flex;
        margin-bottom: 0;
        > li {
            display: inline-flex;
            align-items: center;
            flex: 1 0 auto;
        }
    }
    &__ellipsis {
        color: color-var(--global__colors__primary);
        display: flex;
        padding: 0;
        svg {
            width: 1em;
            height: 1em;
        }
    }
    &__video-list {
        > li {
            margin-bottom: var(--global__sizing__text-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__video-description {
        margin-bottom: var(--global__sizing__layout-spacing--double);
    }
    &__comments-column {
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
    &__comments-form {
        margin-bottom: var(--global__sizing__layout-spacing--double);
    }
}
