small {
    font-style: italic;
    display: block;
    line-height: 1.5;
}

%text,
.text {
    &--primary {
        color: color-var(--global__colors__primary);
    }
    &--secondary {
        color: color-var(--global__colors__secondary);
    }
    &--blue {
        color: $blue;
    }
    &--inverted,
    &--contrast {
        color: color-var(--global__colors__white);
    }
    &--gray-darker {
        color: color-var(--global__colors__gray-darker);
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--small {
        font-size: $font-size-small
    }
    &--xsmall {
        font-size: $font-size-xsmall;
    }
}

%list,
.list {
    &--unstyled {
        @include list-unstyled;
    }
    &--dotted {
        li {
            &:after {
                content: '\2022';
                padding-left: calc(var(--block-text__lists__item-inline-spacing-horizontal) + 2px);
            }
            &:last-child {
                padding: 0;
                &:after {
                    content: none;
                }
            }
        }
    }
}

hr {
    background-color: color-var(--global__colors__gray-light);
    height: 1px;
    border: none;
}

.emphasis {
    text-transform: none;
    &--primary {
        color: color-var(--global__colors__primary, 1);
    }
    &--secondary {
        color: color-var(--global__colors__secondary, 1);
    }
}

.blockquote {
    padding-left: var(--global__sizing__text-spacing--default);
    border-left: 2px solid #3f96aa;
}

.wp-caption-text {
    font-style: italic;
    font-size: $font-size-xsmall;
    color: #666;
}
