%button,
.button {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    &--blue {
        background-color: $blue;
        &:hover {
            background-color: color-var(--global__colors__secondary);
        }
    }
    &--bordered-primary {
        background-color: color-var(--global__colors__white);
        border: 1px solid color-var(--global__colors__primary);
        &:hover {
            border-color: color-var(--global__colors__secondary);
        }
    }
    &--bordered-secondary {
        background-color: color-var(--global__colors__white);
        border: 1px solid color-var(--global__colors__secondary);
        &:hover {
            border-color: color-var(--global__colors__primary);
        }
    }
    &--with-icon {
        display: inline-flex;
        align-items: center;
        .icon {
            margin-right: var(--global__sizing__text-spacing--half);
        }
    }
    &--unstyled {
        -webkit-appearance: none;
        border: 0;
        background-color: transparent;
    }
    &--full-width {
        width: 100%;
    }
}
