%input-checked {
    &:checked {
        border-color: inherit;
    }
}

input[type="text"] {
    box-shadow: inset 0px 0px 2px 0px color-var(--global__colors__gray-light);
}

input[disabled] {
    background-color: color-var(--global__colors__gray-light, .5);
    color: color-var(--global__colors__black, .5);
    &:hover {
        background-color: color-var(--global__colors__gray-light, .5);
        color: color-var(--global__colors__black, .5);
    }
}

label {
    font-weight: 700;
}

input + input[type="submit"] {
    border-radius: 0;
}

select[disabled=disabled] {
    cursor: not-allowed;
}

.form-fields {
    &__prepend-icon {
        display: flex;
        background-color: $gray-offset;
        > span {
            padding: var(--form-fields__common__padding-vertical) var(--form-fields__common__padding-horizontal);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid color-var(--global__colors__gray-light);
            border-left: 1px solid color-var(--global__colors__gray-light);
            border-bottom: 1px solid color-var(--global__colors__gray-light);
            box-shadow: inset 0 0 2px 0 color-var(--global__colors__gray-light);
        }
    }
}
