%heading,
.heading {
    font-family: $font-family-secondary;

    &--inverted {
        color: color-var(--global__colors__white);
    }

    &--styled {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid color-var(--global__colors__black);
        line-height: 0.1em;
        margin: 10px 0 20px;
        padding-top: 7px;

        > a {
            &:hover {
                color: color-var(--global__colors__secondary);
                text-decoration: none;
            }
        }

        span {
            background: color-var(--global__body__background);
            padding: 0 10px;
        }
    }

    &--small {
        font-size: $font-size-xsmall;
    }

    &--dark {
        color: color-var(--global__colors__black);
    }
}
