.icon {
    &.icon-style-primary {
        .icon-use {
            color: color-var(--global__colors__primary);
        }
    }
    &.icon-style-inverted {
        .icon-use {
            color: color-var(--global__colors__white);
        }
    }
    &.icon-style-dark {
        .icon-use {
            fill: color-var(--global__colors__dark);
        }
    }
    &.icon-facebook-circle:hover {
        color: #3b5998;
    }
    &.icon-twitter-circle:hover {
         color: #00acee;
    }
}
