a {
    display: inline-block;
}

%link,
.link {
    &--with-icon {
        display: flex;
        align-items: center;
        .icon {
            margin-left: var(--global__sizing__text-spacing--half);
            svg {
                width: .75em;
                height: .75em;
            }
        }
    }
    &--underline {
        content: '';
        height: 3px;
        background-color: color-var(--global__colors__gray-dark);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.monetize-my-videos {
    display: inline-flex;
    align-items: center;
    > img {
        width: 20px !important;
        height: 20px !important;
        @media only screen and (min-width: 768px) {
            width: 25px !important;
            height: 25px !important;
        }
    }
}
